<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title></title>
	
	<style>

		html, body {
			margin: 0;
			padding: 10px;
			font: 90%/1 Helvetica, Arial, sans-serif #575757;
		}
		
	</style>
	
</head>
<body>

<table>
	<tr>
		<td>
			<img src="%baseasset%images/logo.png" /> <br />
			<span style="font-size: 0.8em;">Esse é um email automático. Não é necessário respondê-lo.</span>
		</td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr style="padding: 20px 0;">
		<td><strong>Mensagem de:</strong> %nome%</td>
	</tr>
	<tr style="padding: 20px 0;">
		<td>
			<p><strong>Email:</strong> %email%</p>
			<p><strong>Telefone:</strong> %telefone%</p>
			<p><strong>Mensagem:</strong> %mensagem%</p>
		</td>
	</tr>
	
</table>

</body>
</html>